{% extends "LoginApp/Base.html" %}
{% load static%}
    
{% block content %}
    {{len}}
    {% for i in titles %}
        {% comment %} <p><a href="{{i.song_title}}">{{ i.song_title}}</a> Uploaded Date And Time: {{i.date}} {{i.time}}</p>        
        <audio controls>
        <source src="media/{{i.song_title}}" type="audio/mpeg">
    </audio> {% endcomment %}

    <center>
    <table style="margin-top:10px; height:100px;">
    <tr>
        <td width="500px"><h3><a href="{{i.song_title}}">{{ i.song_title}}</a> </h3>      </td>
        <td><audio controls>
        <source src="media/{{i.song_title}}" type="audio/mpeg">
    </audio></td>
    </tr>
    <tr>
        <td>{{i.date}}  {{i.time}}</td>
        
    </tr>
</table>
</center>
    {% endfor %}
    
    {% comment %} {% for post in posts %}
    <article class="media content-section">
        
        <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        </div>

    </article>
    {% endfor %} {% endcomment %}
{% endblock content %}